<h1>Listing posts</h1>

<table>
  <tr>
    <th>Foto</th>
    <th>User</th>
    <th>Profile</th>
    <th>Content</th>
    <th>Updated at</th>
    <th>Parent</th>
    <th></th>
  </tr>

<% @discussion_posts.each do |discussion_post| %>
  <tr>
    <td><%= image_tag User.find(discussion_post.user_id).photo.url(:small) %></td>
    <td><%= discussion_post.user_nick %></td>
    <td><%= discussion_post.profile_id %></td>
    <td><%= discussion_post.content %></td>
    <td><%= discussion_post.updated.to_time %></td>
    <td><%= discussion_post.parent_id %></td>
    <td><%= link_to 'Show', discussion_post_path(Discussion.find(discussion_post.discussion_id), discussion_post) %></td>
  </tr>
<% end %>
</table>
